@page
@using GoutiClothing.Pages
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>PRIVACY POLICY IN ACCORDANCE WITH RESPECT TO THE REGULATIONS</p>
<h1> Credit </h1>

<p class="text-uppercase">
    <h4> WEBSITE IMAGES AND VIDEOS ARE USED FROM </h4> 
    <br /> https://www.pexels.com/
    @*https://www.pexels.com/photo/men-wearing-puffer-jackets-standing-on-snow-7026420/*@
    @*https://www.pexels.com/photo/woman-in-white-jacket-sitting-on-brown-wooden-bench-beside-white-and-brown-dog-on-snow-6530652/*@
    @*https://www.pexels.com/photo/cold-snow-healthy-man-6816027/*@
    @*https://www.pexels.com/video/a-man-in-brown-coat-doing-some-shopping-5889058/*@

    <br /> https://www.nike.com/gb/w/mens-jackets-gilets-50r7yznik1
    <br /> https://www.superdry.com/search/longline%20down%20puffer%20coat
</p>
<br/>
<h1>Reference Website and Learning Materials</h1>
<p> 
    <h4>www.w3schools.com </h4>
    HTML TUTORIAL
    <br/> CSS TUTORIAL
    <br/> BOOTSTRAP 5 TUTORIAL
    <br/> ASP.NET RAZOR - MARKUP
    <br/>
    <br/>
    <h4>OVERVIEW TO ASP.NET CORE</h4>
    https://docs.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-6.0#recommended-learning-path
    <br/>
    <br/>
    <h4>BOOTSTRAP THEME</h4>
    BOOTSTRAP THEME
    <br/> https://bootswatch.com/darkly/
    <br/>
</p>
